.chatContainer {
  display: flex;
  height: 100vh;
  width: 100vw;
}

.chatList {
  height: 100vh;
  width: 20%;
  background-color: #f8f9fa;
  padding: 10px;
  border-right: 1px solid #ddd;
}

.newChat {
  width: 100%;
  height: 5vh;
  padding: 10px;
  background-color: #0070f3;
  color: white;
  border: none;
  cursor: pointer;
}

.chatListContainer {
  height: 90vh;
  overflow-y: scroll;
  list-style-type: none;
  padding: 0;
}

.chatListItem {
  padding: 10px;
  cursor: pointer;
}

.chatListItem:hover {
  background-color: #e0e0e0;
}

.chatWindow {
  width: 80%;
  display: flex;
  flex-direction: column;
}

.chatMessages {
  flex-grow: 1;
  padding: 20px;
  overflow-y: auto;
}

.userMessage {
  background-color: #0070f3;
  color: white;
  padding: 10px;
  border-radius: 15px;
  margin: 5px 0;
  align-self: flex-end;
  max-width: 60%;
  word-wrap: break-word;
}

.apiMessage {
  background-color: #e0e0e0;
  color: black;
  padding: 10px;
  border-radius: 15px;
  margin: 5px 0;
  align-self: flex-start;
  max-width: 60%;
  word-wrap: break-word;
}

.chatInputContainer {
  display: flex;
  padding: 10px;
  border-top: 1px solid #ddd;
}

.chatInputField {
  flex-grow: 1;
  padding: 10px;
  border: 1px solid #ddd;
}

.chatInputButton {
  padding: 10px 20px;
  background-color: #0070f3;
  color: white;
  border: none;
  cursor: pointer;
}
